.banner {
    padding: 26px 0 132px;
    background-image: url("../../assets/images/banner/background.png");
    background-position: center;

    & .banner__content {
        max-width: 542px;
    }

    & .banner__logo {
        margin-bottom: 54px;
        line-height: 0;
    }

    & .banner__title {
        font-family: var(--font-secondary);
        text-transform: uppercase;
        margin: 0 0 24px;

        & > span {
            display: block;
        }
    }

    & .banner__description {
        font-size: 1.125rem;
        text-align: center;
        margin-bottom: 40px;
    }

    & .banner__buttons {
        display: flex;
    }

    @media (max-width: 768px) {
        padding: 24px 0 270px;
        background-image: url("../../assets/images/banner/background-xs.png");

        & .banner__content {
            max-width: 100%;
        }

        & .banner__description {
            text-align: left;
            margin-bottom: 32px;
        }

        & .banner__buttons {
            flex-direction: column;

            & .btn {
                margin-bottom: 14px;
                margin-right: 0;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}