.event-info {
    display: flex;
    margin-bottom: 200px;

    & .event-info__image {
        height: auto;
        flex-shrink: 0;
        margin-top: -48px;
        margin-left: -28px;
    }

    & .event-info__details {
        margin-left: 18px;
    }

    & .event-info__contact {
        font-size: 1.25rem;
        color: #3057A2;
    }

    & .event-info__title {
        margin-bottom: 60px;
    }

    & .event-info__table {
        margin-bottom: 48px;
    }

    @media (max-width: 768px) {
        margin-bottom: 120px;
        flex-wrap: wrap;

        & .event-info__details {
            margin-left: 0;
        }

        & .event-info__image {
            flex-shrink: inherit;
            margin: 0 -20px 20px;

            & > img {
                width: 100%;
            }
        }

        & .event-info__title {
            margin-bottom: 44px;
        }

        & .event-info__table {
            margin-bottom: 40px;
        }

        & .event-info__contact {
            font-size: 1.125rem;
            color: #3057A2;
        }
    }
}