.marquee {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #F54932;
    width: 100%;
    height: 60px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 80px;

    & .marquee__content {
        position: absolute;
        color: white;
        display: inline-block;
    }

    & .marquee__text {
        font-size: 1.375rem;
        font-family: var(--font-secondary);
        text-transform: uppercase;
        position: relative;
        margin-right: 30px;

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto auto auto -18px;
        }
    }

    @media (max-width: 768px) {
        height: 38px;
        margin-bottom: 48px;

        & .marquee__text {
            font-size: 1rem;
        }
    }
}