table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 2px solid var(--table-border-color);

        &:first-child {
            td,
            th {
                padding: 0 16px 16px;
            }

            td:first-child,
            th:first-child {
                padding: 0 16px 16px 0;
            }
        }

        &:last-child {
            border-bottom: none;

            td,
            th {
                padding: 16px 16px 0;
            }

            td:first-child,
            th:first-child {
                padding: 16px 16px 0 0;
            }
        }

        & > td, th {
            &:last-child {
                border-right: none;

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }

    td,
    th {
        padding: 16px 16px;
        border-right: 2px solid var(--table-border-color);
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--color-primary);

        &:first-child {
            padding: 16px 0;
            font-weight: 400;
        }
    }

    @media (max-width: 768px) {
        tr {
            padding: 8px 0;
            display: flex;
            flex-wrap: wrap;

            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
            }
        }

        td, th {
            margin: 6px 12px 6px 0;
            padding: 0!important;
            display: block;
            border: none;
        }
    }
}
